= simple_form_for visit, html: { novalidate: true } do |f|
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading Doctors actions
        .panel-body
          .form-group
            %input#recognition-search.form-control{ placeholder: 'Type ICD9/name' }
          = f.association :recognitions, as: :check_boxes, collection: Recognition.all, label: false, label_method: lambda { |r| "#{r.icd10} (#{r.name})" }
          = f.input :procedures, as: :text
          = f.input :instructions, as: :text
          = f.button :submit, class: 'btn btn-lg btn-block btn-success'

