.row
  .col-lg-12
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Num
          %th Name
          %th Form
          - if admin?
            %th Actions
      %tbody
        - meds.each_with_index do |m, i|
          %tr
            %td= i + 1
            %td= m.name
            %td= m.form
            - if admin?
              %td
                = link_to 'Delete med', med_path(m), method: :delete, class: 'btn btn-xs btn-danger pull-right'
                = link_to 'Edit med', edit_med_path(m), class: 'btn btn-xs btn-default pull-right'
    = paginate meds
