.row
  .col-lg-12
    %h2 Meds
.row
  .col-lg-12
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Num
          %th Name
          %th Form
          %th Dose
          %th Wrapper
          - if admin?
            %th Actions
      %tbody
        - meds.each_with_index do |m, i|
          %tr
            %td= i + 1
            %td= m.name
            %td= m.form
            %td= m.dose
            %td= m.wrapper
            - if admin?
              %td
                = link_to 'Delete med', med_path(m), method: :delete, class: 'btn btn-xs btn-danger pull-right'
                = link_to 'Edit med', edit_med_path(m), class: 'btn btn-xs btn-default pull-right'
- if admin?
  .row
    .col-lg-12
      = link_to 'New med', new_med_path, class: 'btn btn-success'
