.container
  .row
    %h2.text-center Sign up

    .col-lg-4.col-lg-offset-4
      .panel.panel-default
        .panel-body
          = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = f.error_notification
            = f.input :email, required: true, autofocus: true
            = f.input :password, required: true
            = f.input :password, required: true
            = f.button :submit, 'Sign up', class: 'btn btn-success btn-block'
      = link_to 'Sign in', new_user_session_path

