.row
  .col-lg-6.col-lg-offset-3

    .row
      .col-lg-12
        %h1
          Visit
          %span.label.label-default= visit.format_date

    = render('visits/show/patient') unless patient?
    = render('visits/show/doctor') unless doctor?
    = render('visits/show/office')
    - if doctor?
      = render('visits/show/close')
    - else
      = render('visits/show/summary')

    .row
      .col-lg-12
        = link_to 'Back to dashboard', root_path, class: 'btn btn-lg btn-block btn-success'
