.row
  .col-lg-12
    %h2 Pending visits
    %table.table.table-bordered.table-stripped
      %thead
        %tr
          %th Patient name
          %th PESEL
          %th Doctor
          %th Actions
      %tbody
        - pending_visits.each do |pv|
          %tr
            %td= "#{pv.patient.name} #{pv.patient.surname}"
            %td= pv.patient.pesel
            %td= pv.doctor_label
            %td
              = link_to 'Edit', edit_visit_path(pv), class: 'btn btn-xs btn-primary'

