= simple_form_for user, html: { novalidate: true }, defaults: { disabled: preview } do |f|
  .row
    .col-lg-6.col-lg-offset-3

      .panel.panel-default
        .panel-heading Personal data
        .panel-body
          = f.input :name
          = f.input :surname
          = f.input :pesel
          = f.input :sex, as: :select, collection: User::SEX
          = f.input :nip
          = f.input :id_number, hint: 'Format 12345'
          = f.input :id_serial, hint: 'Format ABC'
          .form-inline
            = f.input :date_of_birth, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year
          = f.input :place_of_birth

      .panel.panel-default
        .panel-heading Contact
        .panel-body
          = f.input :street
          = f.input :city
          = f.input :postal_code, hint: 'Format 12-345'
          = f.input :email
          = f.input :phone, hint: 'Format +48 123 456 789'

          .panel.panel-default
            .panel-heading Relative
            .panel-body
              = f.simple_fields_for relative do |rf|
                = rf.input :name
                = rf.input :surname
                = rf.input :phone, hint: 'Format +48 123 456 789'

      - if admin? and !preview
        .panel.panel-danger
          .panel-heading Admin
          .panel-body
            = f.association :role, as: :select, collection: Role.all, label_method: lambda { |u| u.name }
            .panel.panel-default
              .panel-heading Specialities
              .panel-body
                = f.association :specialities, as: :check_boxes, collection: Speciality.all, label: false, label_method: lambda { |u| u.name }

      - unless preview
        = f.button :submit, class: 'btn btn-success btn-lg btn-block', value: 'Save patient'
