.row
  .col-lg-6.col-lg-offset-3
    .panel.panel-danger
      .panel-heading
        %h3.panel-title Warning! There are some errors in data provided by you.
      .panel-body
        = link_to 'I understand the consequences. Continue', root_path, class: 'btn btn-danger'
        = link_to 'Edit data', edit_user_path(user), class: 'btn btn-success'
        = link_to 'Delete user', user_path(user), method: :delete, class: 'btn btn-primary'
= render 'form', preview: true
.row
  .col-lg-6.col-lg-offset-3
    = link_to 'Back to edition', edit_user_path(user), class: 'btn btn-success btn-lg btn-block'
    = link_to 'Continue', root_path, class: 'btn btn-danger btn-lg btn-block'

