!!!
%html
  %head
    %meta{ content: 'text/html', charset: 'UTF-8', http: { equiv: 'Content-Type' } }
  %body
    %h1= "Hello #{@patient.name} #{@patient.surname}!"
    %h3= "We have updated your #{link_to('visit', visit_url(@visit))} status".html_safe
    %h3= "Date: #{@visit.decorate.format_date}, dr #{@visit.doctor.name} #{@visit.doctor.surname}"
    %p
      %strong Reason:
      = @visit.reason
    %p
      %strong Note for doctor:
      = @visit.note

    - if @visit.instructions
      %p
        %strong Instructions:
        = @visit.instructions

    - if @visit.meds.any?
      %p
        %strong Meds:
        = @visit.meds.map{ |m| "#{m.name} #{m.form}" }.to_sentence

    - if @visit.procedures.any?
      %p
        %strong Procedures:
        = @visit.procedures.map{ |p| "#{p.name} (#{p.icd9})" }.to_sentence

    - if @visit.recognitions.any?
      %p
        %strong Recognitions:
        = @visit.recognitions.map{ |r| "#{r.name} (#{r.icd10})" }.to_sentence
