.row
  .col-lg-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Your data
      .panel-body
        %table.table-bordered.table-striped.table
          %thead
            %tr
              %th Key
              %th Value
          %tbody
            - ['login', 'name', 'surname', 'email', 'pesel', 'nip', 'id_number', 'id_serial', 'date_of_birth', 'place_of_birth', 'street', 'city', 'postal_code', 'phone'].each do |f|
              %tr
                %td= f.gsub(/_/, ' ').capitalize
                %td= current_user.public_send(f)
  .col-lg-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Your visits
      .panel-body
        %table.table-bordered.table-striped.table
          %thead
            %tr
              %th Doctor
              %th Date
              %th Status
              %th Actions
          %tbody
            - patients_visits.each do |v|
              %tr
                %td
                  dr #{v.doctor.name} #{v.doctor.surname}
                  %span.label.label-default= v.speciality.name
                %td
                %td
                %td
        = link_to 'Request visit', request_visits_path, class: 'btn btn-success'
